/* Default colors, or theme set explicitly to light */
:root,
[data-theme="light"] {
  --minpage-primay-color: #222;
  --minpage-background-color: #eee;
  --minpage-qubitbox: #bbd;
  --minpage-qubit: #123;
  --minpage-label: #aaa;
  --minpage-gate: #66d;
  --minpage-gate-cz: #ec4;
  --minpage-gate-mz: #822;
  --minpage-gate-reset: #282;
}
/* User has set OS preference for dark (explict theme will override) */
@media (prefers-color-scheme: dark) {
  :root {
    --minpage-primay-color: #eee;
    --minpage-background-color: #222;
    --minpage-qubitbox: #446;
    --minpage-qubit: #9df;
    --minpage-label: #666;
    --minpage-gate: #ccf;
    --minpage-gate-cz: #b91;
    --minpage-gate-mz: #e88;
    --minpage-gate-reset: #8e8;
  }
}
/* Explicit dark theme set (should match above dark preference values) */
[data-theme="dark"] {
  --minpage-primay-color: #eee;
  --minpage-background-color: #222;
  --minpage-qubitbox: #446;
  --minpage-qubit: #9df;
  --minpage-label: #666;
  --minpage-gate: #ccf;
  --minpage-gate-cz: #b91;
  --minpage-gate-mz: #e88;
  --minpage-gate-reset: #8e8;
}

.minpage-body {
  background-color: var(--minpage-background-color);
  color: var(--minpage-primay-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.minpage-app {
  box-sizing: border-box;
  width: 600px;
  border: 1px solid gray;
  border-radius: 8px;
  margin: auto;
  margin-top: 24px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.minpage-app:focus {
  outline: none;
}

.minpage-toolstrip {
  display: flex;
  align-items: center;
}

.minpage-toolbar {
  height: 32px;
  user-select: none;
}

.minpage-toolbar-left {
  /* To make same size as right icons */
  padding-right: 36px;
}

.minpage-icon > circle {
  stroke: var(--minpage-primay-color);
  stroke-width: 6;
  fill: transparent;
  cursor: pointer;
}

.minpage-icon > circle:hover {
  stroke-width: 10;
}

.minpage-icon > path {
  stroke: none;
  fill: var(--minpage-primay-color);
  pointer-events: none;
}

.minpage-icon > .minpage-icon-line {
  fill: none;
  stroke-width: 16;
  stroke: var(--minpage-primay-color);
  stroke-linecap: round;
  stroke-linejoin: round;
}

.minpage-step {
  min-width: 128px;
  text-align: end;
  margin: 0 20px;
  user-select: none;
  -webkit-user-select: none;
}

.minpage-bigsmall {
  margin-left: auto;
}

.minpage-zones {
  margin: 16px auto;
}

.minpage-zone-text {
  font-size: 6px;
  font-family: "Helvetica";
  fill: gray;
  stroke-width: 0;
  user-select: none;
  -webkit-user-select: none;
}

.minpage-label {
  font-size: 6px;
  font-family: "Helvetica";
  fill: var(--minpage-label);
  stroke-width: 0;
  user-select: none;
  -webkit-user-select: none;
  text-anchor: middle;
  dominant-baseline: central;
  width: 20px;
}

.minpage-zonebox {
  stroke: var(--minpage-background-color);
  stroke-width: 0.75;
  fill: var(--minpage-qubitbox);
}

.minpage-qubit {
  stroke: none;
  fill: var(--minpage-qubit);
}

.minpage-gate {
  fill: var(--minpage-gate);
  stroke-width: 0;
}

.minpage-gate-cz {
  fill: var(--minpage-gate-cz);
}
.minpage-gate-mz {
  fill: var(--minpage-gate-mz);
}

.minpage-gate-reset {
  fill: var(--minpage-gate-reset);
}

.minpage-gate-text {
  stroke-width: 0;
  fill: var(--minpage-background-color);
  font-size: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-anchor: middle;
  dominant-baseline: central;
}

.minpage-gate-text-small {
  font-size: 4px;
}
